$navbar-default-bg: #03522d;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    float: left;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('bg.jfif');
    background-size: cover;
    height: 600px;
}

.jumbotron h1 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: -1px;
    text-align: center;
}

.btn-large {
    background-color: black;
    font-size: 1.7em;
    transition-duration: 0.4s;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

.article-action {
    margin-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description {
    margin-top: 0;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-meta-data {
    margin-top: 15px;
    border-top: 1px solid #eaeaea;
    margin-bottom: 10px;
}